<div class="form-horizontal">
  <%= form_for @gemblocker do |f| %>
      <div class="form-group">
        <%= f.label :gem, class: "col-sm-1 control-label" %>
        <div class="col-sm-2">
          <%= f.text_field :gem, placeholder: "Gem name", class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :version, class: "col-sm-1 control-label" %>
        <div class="col-sm-2">
          <%= f.text_field :version, placeholder: "Version", class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :verification_type, class: "col-sm-1 control-label" %>
        <div class="col-sm-2">
          <%= f.select :verification_type, Gemblocker::ALLOWED_TYPES, {}, { class: "form-control" } %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-1 col-sm-2">
          <%= f.submit "Block", class: "btn btn-default" %>
        </div>
      </div>
  <% end %>
</div>
